.section {
  margin-bottom: 4rem;
}

.section-left {
  display: flex;
  align-items: center;
  cursor: move;
}

.section-listIcon {
  margin-right: 0.25rem;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-top-right {
  display: flex;
  align-items: center;
}

.section-deleteIconBtn {
  margin-left: 0.5rem;
  padding: 0.5rem !important;
  background-color: #e14d2a !important;
}

.section-editIconBtn,
.section-checkIconBtn,
.section-deleteIconBtn {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.section-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #667085;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}

.section-editInput {
  margin-right: 0.5rem !important;
}

.section-titleWrapper {
  display: flex;
  align-items: center;
}

.section-editWrapper {
  display: flex;
  align-items: center;
}

.addTaskBtn {
  background-color: #3e6d9c !important;
  color: white !important;
}
