.section {
  margin-bottom: 4rem;
}

.section-left {
  display: flex;
  align-items: center;
  cursor: move;
}

.section-listIcon {
  margin-right: 0.25rem;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-editIcon-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  cursor: pointer;
}

.section-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #667085;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}

.addTaskBtn {
  background-color: #d50000 !important;
  color: white !important;
}
