.sections {
  display: flex;
  flex-wrap: wrap;
}

.addSectionBtn {
  margin-bottom: 3rem;
  background-color: #b73e3e !important;
  color: white !important;
}

.newTask .ant-input {
  margin-bottom: 1rem !important;
}

.on-drag {
  background-color: #29badf !important;
}

.ant-modal-content .ant-btn-primary {
  background-color: #b73e3e !important;
}
